.column {
    float: left;
    padding: 5px;
    background-color: rgb(92, 57, 5);
}
  
.column.side {
    width: 10%;
}
  
.column.middle {
    width: 50%;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
