.container {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 0;
}
.container a img {
    width: 222px;
    height: auto;
    padding: 14px 16px;
    background-color: black;
}
.container :hover {
    background-color: white;
}
.container a {
    text-decoration: none;
}

.container .content {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
}
#showtext {
    text-align: center;
    margin: 0;
}