@media all and (min-width: 480px) {

.headTile{
  text-align: center;
}
 .jumbotron {
    margin-left: 35rem;
    margin-right: 35rem;
    }
  
  .signup form {
      margin: 0 auto;
      max-width: 320px;
    }


  .Jumbotron {
    height: 500px; 
  }
  }